In [2]:
import requests
import pandas as pd

In [4]:
url = "https://amazon23.p.rapidapi.com/product-details"

querystring = {"asin":"B08H8VZ6PV","country":"US"}

headers = {
    "X-RapidAPI-Key": "bd8c4c9c9dmsh84fa19fd7e85a56p1dddbcjsn676cfd82e8a3",
    "X-RapidAPI-Host": "amazon23.p.rapidapi.com"
}

In [6]:
response = requests.request("GET",url,headers=headers,params=querystring)
print(response)

<Response [403]>

In [10]:
response = requests.get("https://api.nationalize.io/?name=nathaniel")
temp_df = pd.DataFrame(response.json()['country'])[['country_id','probability',]]
temp_df

  country_id  probability
0         GH        0.224
1         PH        0.084
2         NG        0.073
3         US        0.061
4         NE        0.034

In [15]:
temp_df.to_csv('api_csv')